.dark-theme1 {
  --sl-color-accent-low: #2c230a;
  --sl-color-accent: #846500;
  --sl-color-accent-high: #d4c8ab;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}
.dark-sidebar {
  background-color: #101923;
  color: white;
}
.light-sidebar {
  background-color: white;
  color: #101923;
}
body.light-theme1 p {
  background-color: white !important;
  color: black !important;
}
body.light-theme1 ul {
  background-color: white !important;
  color: black !important;
}
body.light-theme1 ::-webkit-scrollbar-track {
  background: #f3f2f2 !important;
}
body.light-theme1 ::-webkit-scrollbar-thumb {
  background-color: gray !important;
  border-radius: 20px !important;
  border: 3px solid #fff !important;
  height: 1px !important;
}

.light-theme1 {
  --sl-color-accent-low: #ffff;
  --sl-color-accent: #866700;
  --sl-color-accent-high: #3f3003;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;
  background-color: var(--sl-color-accent-low);
}

.sidebar-pane.astro-2gh5jeoh.dark-sidebar{
  background-color: #fff;
}

.dark-theme1 .sidebar-pane.astro-2gh5jeoh.dark-sidebar {
  background-color: #101923;
}

.light-theme1 .header.astro-2gh5jeoh.dark-sidebar {
  background-color: white;
  color: #101923;
}
.light-theme1 .sidebar.sl-flex.astro-ul5l7bp7{
  background-color: white;
  color: #101923;
}
::-webkit-scrollbar {
  width: 10px !important;
}

::-webkit-scrollbar-track {
  background: #17181c !important;
}

::-webkit-scrollbar-thumb {
  background-color: gray !important;
  border-radius: 20px !important;
  border: 3px solid #17181c !important;
  height: 1px !important;
}
[data-has-hero] .page {
  background: linear-gradient(215deg, var(--overlay-blurple), transparent 40%),
    radial-gradient(var(--overlay-blurple), transparent 40%) no-repeat -60vw -40vh /
      105vw 200vh,
    radial-gradient(var(--overlay-blurple), transparent 65%) no-repeat 50%
      calc(100% + 20rem) / 60rem 30rem;
}

[data-has-hero] header {
  border-bottom: 1px solid transparent;
  background-color: transparent;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

[data-has-hero] .hero > img {
  filter: drop-shadow(0 0 3rem var(--overlay-blurple));
}

[data-has-hero] .sl-banner {
  --sl-color-banner-bg: #d73f37;
  --sl-color-banner-text: #fff;
  border-block: 1px solid #fff8;
  padding-block: 0;
  overflow: hidden;
}

[data-has-hero] .sl-banner a {
  text-decoration: 1px underline;
  text-underline-offset: 0.1em;
}

.ph-banner {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: clamp(1rem, calc(0.75rem + 1vw), 1.65rem);
}
.ph-houston {
  padding-block: 0.25rem;
}
.ph-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem 1rem;
  text-align: start;
  padding-block: var(--sl-nav-pad-y);
}
.ph-text strong {
  font-weight: 600;
}

@media (min-width: 23em) {
  .ph-banner {
    justify-content: center;
  }

  .ph-houston img {
    vertical-align: middle;
  }
}

@media (min-width: 40em) {
  .ph-banner {
    gap: 3.5rem;
  }
  .ph-houston {
    padding: 0;
  }
  .ph-houston img {
    scale: 1.75;
  }
  .ph-text {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
code {
  background-color: #1e1e1e !important;
  color: #e0e0e0 !important;
  /* padding: 10px !important; */
  border-radius: 5px !important;
  font-family: "Courier New", monospace !important;
}
select:focus:where(.astro-4yphtoen) {
  /* outline: none; */
  outline: none !important;
}
